<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-compatible" content="IE=edge">
  <link rel="stylesheet" href="style.css">
  <link rel="icon" href="images/building-place-hospital-png.webp" style="height: 70px; width: 70px;">
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
  <title>QuickCure Manager HMS</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg">
    <img src="images/building-place-hospital-png.webp" alt="logo" style="height: auto; width: 70px;">
    <div class="container-fluid">

      <h1>QuickCure Manager HMS</h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#section-about">Appointment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#services">Services</a>
          </li>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Department" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          <li class="nav-item">
            <a class="nav-link" href="index.html">logout</a>
          </li>


      </div>
    </div>
  </nav>
  <section id="showcase">
    <div class="container">
      <h1>Welcome to QuickCure Manager HMS</h1>
      <div>
        <p>Streamline your operations, enhance patient care, and boost efficiency with our hospital management system.
          Let's make healthcare better together!</p>
      </div>
      <button class="book-appointment-btn" onclick="window.location.href='appointment_sch.html';">Book an
        Appointment</button>
    </div>
  </section>




  <footer class="footer py-1">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-4">
          <h5>Connect With Us</h5>
          <a href="mailto:your.email@gmail.com"><i class="fab fa-google"></i> Gmail |</a>
          <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i> Twitter |</a>
          <a href="https://www.facebook.com" target="_blank"><i class="bi bi-facebook"></i> Facebook</a>
        </div>
        <div class="col-md-4">
          <h5>Newsletter</h5>
          <p>Subscribe to our newsletter for updates</p>
          <form>
            <div class="input-group mb-3">
              <input type="email" class="form-control" placeholder="Your Email" aria-label="Your Email"
                aria-describedby="button-addon2">
              <button class="btn btn-primary" type="button" id="button-addon2">Subscribe</button>
            </div>
          </form>
        </div>
        <div class="col-md-4">
          <h5>Evergreen-hospital</h5>
          <p>No. 70, Allen Ikeja lagos, Nigeria</p>
          <p>&copy; 2024 All Rights Reserved</p>
        </div>
      </div>
    </div>
  </footer>
  <script src="appointment.js"></script>
  <script src="index.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
</body>

</html>