/* Define root variables of element */
:root {
    --container-fluid-bg:rgb(41, 240, 240);
    --container-fluid-h1-txt-color: 23px
}
/* image logo */
.navbar img {
    padding-bottom: 29px;
    margin-left: 30px;
}
.container-fluid {
    padding-top: 0;
 
}

.container-fluid h1{
    font-size: var(--container-fluid-h1-txt-color);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-right: 12%;
    font-size: 22px;
    color: rgb(56, 29, 150);    /* Changing the text color of my header*/
}
/* Making the background color of the header section to fit without margin */
.navbar,.container-fluid{
    background-color: var(--container-fluid-bg);
    font-size: 20px;
}
/* changing the background color and border-radius of the unordered list item */
 .navbar-nav a:hover{
    color: #fff !important;
    background: linear-gradient(0, #2e3192, #1bffff);
    border-radius: 11px;
    padding-left: 15px;
    padding-right: 15px;
    
}
 .dropdown-item, a {
    background-color: #b2b3c5; /* Change background color on hover */
    padding: 10px 0;
    font-size: 20px;
}  

.collapse .nav-item {
    margin-left: 20px;

}
.navbar-nav .nav-link {
    font-size: 16px;
    margin-left: 15px;
    /* font-weight: 25px; */
}
.dropdown-menu .dropdown-item {
    background-color: #fff;
    font-size: 15px;
}
.navbar-nav {
    margin-left: 10em;
}
#showcase {
    position: relative;
    background-image: url('images/realdoctor.jpg');
    background-size: cover;
    overflow: hidden;
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* This sets the height of the section to be the full height of the viewport */
    color: white; /* Set text color to white for better visibility */
    text-align: center; /* Center align text */
    padding: 50px; /* Add some padding for better readability */
}
#showcase h1 {
    position: relative;
    padding-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: white;
    font-weight: bolder;
}
#showcase p {
    position:relative;
    color:#fff;
    font-weight: bolder;
    font-size: 22px;
    font-family: sans-serif;
}


.footer {
    background-color: #787bc4;
    color: white;
}
.footer a {
    text-decoration: none;
    background-color: #787bc4;
    color: white;
}

.box p {
    font-size: 16px;
    opacity: 1;
    font-size: 16px;

}
/* login form */
.container-doc .appointment {
    border: 1px solid black;
    border-radius: 20px;
    width: 40%;
    padding: 10px;
    text-align: center;
    

}
/* doctor appointment feedback */
.container-doc {
    background-color: rgb(50, 205, 159);
    padding-left: 3%;
}
