/* Define root variables of element */
:root {
    --container-fluid-bg:rgb(41, 240, 240);
    --container-fluid-h1-txt-color: 23px
}
/* image logo */
.navbar img {
    padding-bottom: 29px;
    margin-left: 30px;
}
.container-fluid {
    padding-top: 0;
  
}

.container-fluid h1{
    font-size: var(--container-fluid-h1-txt-color);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-right: 12%;
    font-size: 22px;
    color: rgb(56, 29, 150);    /* Changing the text color of my header*/
}
/* Making the background color of the header section to fit without margin */
.navbar,.container-fluid{
    background-color: var(--container-fluid-bg);
    font-size: 20px;
}
/* changing the background color and border-radius of the unordered list item */
 .navbar-nav a:hover{
    color: #fff !important;
    background: linear-gradient(0, #2e3192, #1bffff);
    border-radius: 11px;
    padding-left: 15px;
    padding-right: 15px;
    
}
 .dropdown-item, a {
    background-color: #b2b3c5; /* Change background color on hover */
    padding: 10px 0;
    font-size: 20px;
}  
.navbar-nav .nav-link {
    font-size: 16px;
    margin-left: 15px;
    /* font-weight: 25px; */
}
.dropdown-menu .dropdown-item {
    background-color: #fff;
    font-size: 15px;
}
.navbar-nav {
    margin-left: 10em;
}

/* Style for login form */

#login-fo{
    padding-top: 5%; 
}

.form-box {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    height: 100vh;
    border-radius: 20px;
    background-color: lightslategray;
}
body {
    background-image: url('/manager/templates/images/realdoctor.jpg');
}
.input-field {
    margin-bottom: 22px;
    margin-top: 22px;
}
#login-fo  label{
    margin-top: 23px;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    font-size: 19px;
    color: #fff;
}
.bottom-link #signup-link {
    margin-top: 132px;
}
#login-fo .bottom-link {
    text-decoration: none;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

button {
    background-color: #007bff;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
;
}

/* This is the footer */
.footer {
    margin-top: 200px;
    background-color: #787bc4;
    color: white;
    text-decoration: none;
}
#login-fo .forgot-pass-link {
    margin-top: 20px; /* Adjust the value as needed */
}