/* Define root variables of element */
:root {
    --container-fluid-bg:rgb(41, 240, 240);
    --container-fluid-h1-txt-color: 23px
}
/* image logo */
.navbar img {
    padding-bottom: 29px;
    margin-left: 30px;
}
.container-fluid {
    padding-top: 0;
  
}

.container-fluid h1{
    font-size: var(--container-fluid-h1-txt-color);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-right: 12%;
    font-size: 22px;
    color: rgb(56, 29, 150);    /* Changing the text color of my header*/
}
/* Making the background color of the header section to fit without margin */
.navbar,.container-fluid{
    background-color: var(--container-fluid-bg);
    font-size: 20px;
}
/* changing the background color and border-radius of the unordered list item */
 .navbar-nav a:hover{
    color: #fff !important;
    background: linear-gradient(0, #2e3192, #1bffff);
    border-radius: 11px;
    padding-left: 15px;
    padding-right: 15px;
    
}
 .dropdown-item, a {
    background-color: #b2b3c5; /* Change background color on hover */
    padding: 10px 0;
    font-size: 20px;
}  
.navbar-nav .nav-link {
    font-size: 16px;
    margin-left: 15px;
    /* font-weight: 25px; */
}
.dropdown-menu .dropdown-item {
    background-color: #fff;
    font-size: 15px;
}
.navbar-nav {
    margin-left: 10em;
}
.form-box {
    border: 1px solid black;
    margin-left: 20%;
    margin-top: 3%;
    width: 30%;
    padding-left: 2%;
    padding-top: 3%;
    padding-bottom: 5%;
}
input {
    /* padding-left: 12%; */
    margin-top: 2px;
}
.form-box {
    border: 1px solid black;
    margin-left: 20%;
    margin-top: 5%;
    width: 30%;
    padding-left: 2%;
    padding-top: 5%;
    padding-bottom: 2%;
    padding-bottom: 5%;
    border-radius: 23px;
    background-color: lightslategray;
    color: white;
}
body {
    background-image: url('images/realdoctor.jpg');
}

.input-field {
    margin-top: 10px;
}
#policy {
    margin-top: 30px;
}

.footer {
    margin-top: 200px;
    background-color: #787bc4;
    color: white;
    text-decoration: none;
}
button {
    background-color: black;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
button  {
    border-radius: 10px;
}